namespace: open-cluster-management

resources:
- addon-manager.yaml
- clustermanagementaddon.yaml
- ../rbac

images:
- name: controller
  newName: quay.io/danateamorg/rcs-ocm-deployer
  newTag: v0.1.0

patches:
- path: addon_manager_env_var_patch.yaml

vars:
- fieldref:
    fieldPath: spec.template.spec.containers[0].image
  name: ADDON_IMAGE
  objref:
    group: apps
    kind: Deployment
    name: capp-status-sync-addon
    version: v1
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
