namespace: open-cluster-management

resources:
- manager.yaml
- clustermanagementaddon.yaml
- ../rbac

images:
- name: controller
  newName: controller
  newTag: latest

patches:
- path: addon_manager_env_var_patch.yaml

vars:
- fieldref:
    fieldPath: spec.template.spec.containers[0].image
  name: ADDON_IMAGE
  objref:
    group: apps
    kind: Deployment
    name: rcs-score-addon-manager
    version: v1
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
